@media screen and (min-width: 1150px) {
  div.main {
    display:inline-block;
  }
  div.amazon {
    width: 120px;
    display:inline-block;
    vertical-align: top;
  }
}
@media screen and (max-width: 900px) {
  div.main {
  }
  div.amazon {
  }
}

div.doughchart {
  width: 300px; 
  float:left; 
  display:block;
}
canvas.linechart {
  width: 900px;
  height: 500px;
}
canvas.linechart_slim {
  width: 900px;
  height: 250px;
}
canvas.doughchart {
  width: 298px;
  height: 298px;
}
div.center {
  text-align: center;
}
a {
  color: #009688;
}
